@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<script src="https://www.google.com/recaptcha/api.js"></script>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @if (TempData["ContactSuccess"] != null && (bool)TempData["ContactSuccess"])
    {
        <p>Your message was sent successfully</p>
    }
    else
    {
       Html.RenderAction("RenderForm", "ContactSurface");
    }
</div>